@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
  }

  .users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    justify-content: center;
  }
}
#__next {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #c8c8c8;
}

*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #141414;        /* color of the tracking area */
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: #474747;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #e3e3e3;  /* creates padding around scroll thumb */
}

::selection {
  background-color: #eeeeee;
  color: #222222;
}
